# Makefile for libuser_reg_handler
# Copyright (C) 2020 Sergey Kolevatov

###################################################################

VER = 0

LIB_PROJECT = user_reg_handler

LIB_BOOST_LIB_NAMES :=

LIB_SRCC = \
	handler.cpp \
	perm_checker.cpp \

LIB_EXT_LIB_NAMES = \
	password_hasher \
	session_manager \
	user_reg \
	user_manager \
	user_reg_email \
	user_reg_protocol \
	templtext \
	anyvalue_db \
	anyvalue \
	serializer \
	generic_protocol \
	generic_request \
	basic_objects \
	utils \
